<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="/login" method="post">
        <input type="text" required placeholder="username" name="username">
        <br>
        <input type="password" required placeholder="password" name="password">
        <br>
        <input type="email" required placeholder="email" name="email">
        <br>
        <button value="submit">Submit</button>
    </form>
</body>
</html>